<script setup lang="ts"></script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-card class="mx-auto" max-width="434" rounded="0">
          <v-img
            height="100%"
            cover
            src="https://cdn.vuetifyjs.com/images/cards/server-room.jpg"
          >
            <v-avatar color="grey" size="150" rounded="0">
              <v-img
                cover
                src="https://media.discordapp.net/attachments/793093052797419520/1053695087512653944/87829.jpg?width=1005&height=670"
              ></v-img>
            </v-avatar>
            <v-list-item
              class="text-white"
              title="Thunwarat Ghunsao"
              subtitle="วิทยาการคอมพิวเตอร์"
            ></v-list-item>
          </v-img>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>ระดับการศึกษา</th>
              <th>ชื่อสถาบันศึกษา</th>
              <th>เกรดเฉลี่ย</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ประถมศึกษา</td>
              <td>โรงเรียนเพชรพิทยาคม ชลบุรี</td>
              <td>3.50</td>
            </tr>
            <tr>
              <td>มัธยมศึกษา</td>
              <td>โรงเรียนอ่างศิลาพิทยาคม</td>
              <td>3.00</td>
            </tr>
            <tr>
              <td>ปริญญาตรี</td>
              <td>มหาวิทยาลัยบูรพา</td>
              <td>3.00</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card
          class="mx-auto"
          width="500"
          title="สิ่งที่สนใจ"
          text="Football, Cartoon Book, Sport"
        ></v-card>
      </v-col>
    </v-row>
  </v-container>
</template>